html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  background-color: #dbd6cf;
  border: 3px solid #595652;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  background-color: #79756f;
  margin: 0;
}

h1 {
  display: inline-block;
  color: #fff;
  font-family: 'Bevan', cursive;
}
nav ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

nav li {
  display: inline;
  padding:  .6em, .5em .75em;
  text-align: center;
}

nav a {
  display: inline-block;
  padding:  .6em, .5em .75em;
  margin: .3em;
  background-color: #713837;
  color: #fff;
  text-decoration: none;
  text-align: center;

}
